<h1 id="welcome">Welcome, <%= @database_connection.sql("select username from users where id = '#{session[:user]}'").reduce["username"] %></h1>
<br>
<div id="users">
<h3> Here are your users </h3>
<ul>
  <% @list_users.each do |user_hash| %>
    <li><%= user_hash["username"] unless user_hash["username"] == @database_connection.sql("select username from users where id = '#{session[:user]}'").reduce["username"] %></li>
  <% end %>
</ul>
<form method="get" action="/users_alphabet">
  <button>List users alphabetically</button>
</form><br>
 <form method="get" action="/users_descending">
    <button>List users in descending order</button>
  </form><br>
<form method="post" action="/users_alphabet">
  <label for="delete">Which user do you want to delete?</label>
  <input type="delete" name="name" id="delete" class="textbox"/>
  <button type="submit">Delete this user</button>
</form>
<br>
<br>
<br>
</div>

<div id="fish">
  <h3> Here are your fishes </h3>
<br>
  <form method="post" action="/add_fish">
  <label for="fish_name">Add fish name:
    <input name="fish_name" id="fish_name" class="textbox"/></label><br>
  <label for="fish_wiki">Add link to fish's wikipedia page
    <input name="fish_wiki" id="fish_wiki" class="textbox"/></label>
  <button type="submit">Add the fish!</button>
</form>
<dl>
  <% @users_fish.each do |fish_hash| %>
    <dt><%= fish_hash["name"] %></dt>
    <dd><a href="<%= fish_hash["wiki"] %>"><%= fish_hash["wiki"] %></a></dd>
    <dd>
      <!--<% @fish_id = fish_hash["fish_id"] %>-->
      <form method="post" action="/favorite_fish">
        <input type="hidden" value="<%= fish_hash["id"] %>" name="fish_id">
        <button name="<%= fish_hash["name"] %>">Favorite this fish</button>
      <button name="<%= fish_hash["name"] %>">Unfavorite this fish</button>
      </form>
<% end %>
  </dd>
    <br>
    <form method="post" action="/loggedin">
      <label for="delete">Which fish do you want to delete?</label>
      <input type="delete" name="name" id="delete" class="textbox"/>
      <button type="submit">Delete this fish</button>
    </form>
</dl>

</div>
<br>
<br>
<br>
<form  method="get" action="/">
  <input id="logout" type="submit" value="Logout"/>
</form>
